@import url(/fonts/fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .p-page {
        @apply px-28 xl:px-10 md:!px-2
    }
    .bg-size-100 {
        background-size: 100% 100%; 
    }
    .header-bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(0deg, rgba(130, 0, 0, 0.20) 0%, rgba(130, 0, 0, 0.20) 100%), url(/images/intro.png), lightgray 0px -143.143px / 100.03% 144.894% no-repeat;        
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .imagePrimary {
        background: linear-gradient(0deg, rgba(130, 0, 0, 0.20) 0%, rgba(130, 0, 0, 0.20) 100%);
    }
    .accordion-content {
        background: linear-gradient(270deg, #F2DEBA -17.6%, #820000 174.27%);
    }
    .bg-img{
      background-attachment: fixed;
      background-repeat: repeat;
    }
}
.video-react .video-react-poster {
    background-color: unset !important;
}
.video-react .video-react-big-play-button {
    display: none !important;
}
.swiper-button-next {
    @apply !bg-swiperBtnNext !bg-cover !w-10 !h-10 !left-0
}

.swiper-button-prev {
    @apply !bg-swiperBtnPrev !bg-cover !w-10 !h-10 !right-0
}
.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}


.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  .loader {
    width: 64px;
    height: 64px;
    position: relative;
    background-image:
      linear-gradient(#FFF 16px, transparent 0) ,
      linear-gradient(#FF3D00 16px, transparent 0) ,
      linear-gradient(#FF3D00 16px, transparent 0) ,
      linear-gradient(#FFF 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top , left bottom , right top , right bottom;
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    0% {
      width: 64px;
      height: 64px;
      transform: rotate(0deg)
    }
    50% {
      width: 30px;
      height: 30px;
      transform: rotate(180deg)
    }
    100% {
      width: 64px;
      height: 64px;
      transform: rotate(360deg)
    }
  }
